body {
	text-decoration: none;
	background-image: url(images/kal.webm);
	background-color: black ;
	background-position: center;
	background-size: cover;
}
.bgvideo {
	opacity: 0.5;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}
.main_block {
	line-height: 0.1em;
	font-family: Indie Flower;
	font-size:3vw;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	vertical-align: center;
	color: white;
	align-items: center;
}
/* Dropdown Button */
.dropbtn {
		font-family: Indie Flower;
	-webkit-box-shadow:
		0 0 10px rgba(255,255,255,.6),
		inset 0 0 10px rgba(255,255,255,1);
	-moz-box-shadow:
		0 0 10px rgba(255,255,255,.6),
		inset 0 0 10px rgba(255,255,255,1);
	box-shadow:
		0 0 10px rgba(255,255,255,.6),
		inset 0 0 10px rgba(255,255,255,1);
	border-radius: 6%;
	padding: 20%;
    background-color: #850ec9;
    color: white;
    font-size: 1.4vw;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #c507de;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	z-index: 999;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	font-size: 1.6vw;
    display: none;
    background-color: #999999;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
	border-bottom:3px solid black;
    color:white;
    padding-top: 10%;
    padding-bottom: 10%;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.all {
	width: 100%;
	justify-content: center;
	display: flex;
}
.all_1 {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
}
.dropbtn1 {
	-webkit-box-shadow:
		0 0 10px rgba(255,255,255,.6),
		inset 0 0 10px rgba(255,255,255,1);
	-moz-box-shadow:
		0 0 10px rgba(255,255,255,.6),
		inset 0 0 10px rgba(255,255,255,1);
	box-shadow:
		0 0 10px rgba(255,255,255,.6),
		inset 0 0 10px rgba(255,255,255,1);
		border-radius: 6%;
    background-color: #850ec9;
    color: white;
    padding: 17%;
    font-size: 1.4vw;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn1:hover, .dropbtn:focus {
    background-color: #c507de;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
	margin-left: 5%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
	font-size: 1.6vw;
    display: none;
    background-color: #999999;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content1 a {
	border-bottom:3px solid black;
    color:white;
    padding-top: 10%;
    padding-bottom: 10%;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*ss*/
.main_photo {
	width: 20%;
	border-radius: 50%;
	-webkit-box-shadow:
		0 0 40px rgba(255,255,255,.6),
		inset 0 0 40px rgba(255,255,255,1);
	-moz-box-shadow:
		0 0 40px rgba(255,255,255,.6),
		inset 0 0 40px rgba(255,255,255,1);
	box-shadow:
		0 0 40px rgba(255,255,255,.6),
		inset 0 0 40px rgba(255,255,255,1);
}
.podval {
	color: white;
	text-decoration: none;
	position: absolute;
	right: 2%;
	margin-top: 90%;
	flex-direction: column;
	display: flex;
	text-align: right;
	font-size: 1vw;
	width: 100%;
}
 a{ 
 	color: white;
 	text-decoration: none;
 }
 /* area-----------------------------------*/
 @import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
 background: #111;
}

.area {
  text-align: center;
  font-size: 4vw;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}

.gif {
	position: absolute;
	border-radius: 20%;
	box-shadow: 0 0 0 3px silver;
	width: 5%;
}